*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Registered-products{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.Registered-products header {
	flex-basis: 80%;
	display: flex;
	font-weight: bold;
	text-align: center;

}

.products-row{
	display: flex;
	
}

