*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: grey;
	color: #fff;
	padding: 20px;
}

header {
	text-align: center;
	padding: 10px 20px;
	background-color: darkgrey;
}

